<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>760211071103-dug4tcb3g5qb6j07q996j629v33ltp8s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.760211071103-dug4tcb3g5qb6j07q996j629v33ltp8s</string>
	<key>API_KEY</key>
	<string>AIzaSyAB8p6mHy6PcUjDvSj_OEY4o-AOget8314</string>
	<key>GCM_SENDER_ID</key>
	<string>760211071103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatopia</string>
	<key>PROJECT_ID</key>
	<string>chatopia-f51d0</string>
	<key>STORAGE_BUCKET</key>
	<string>chatopia-f51d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760211071103:ios:2a99d21a0b467e54385f4a</string>
</dict>
</plist>